<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Marca</th>
        <th>Categoría</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products$ | async">
        <td>{{ p.title }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.brand }}</td>
        <td>{{ p.category }}</td>
        <td>
          <a class="btn btn-outline-primary" [routerLink]="['/admin/products/', p.$key]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</div>