<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10 row">
    <div class="col-md-3" *ngFor="let b of brands"><br><br>
      <div class="card center" style="width: 99%; height: 90%;">
        <div style="height: 67%;">
          <img class="card-img-top" [src]="b.image">
        </div>        
        <div class="card-body">
          <h4 class="card-title">{{ b.name }}</h4>
          <a routerLink="/products" [queryParams]="{ brand: b.$key }" class="btn btn-outline-primary">Ver productos de la Marca</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
      
  </div>
</div>

