<!-- FOOTER -->

<div id="down" style="background: #aaa">
    <hr class="featurette-divider">
    <footer class="container">
      <div class="row">
        
        <div class="col-4">
          <div class="float-center">
            <a href="https://www.google.com.mx/maps/place/Surtidora+de+pl%C3%A1sticos/@19.7027444,-103.4653296,17z/data=!3m1!4b1!4m5!3m4!1s0x842f86bcd69ab219:0x9a5687a615666af7!8m2!3d19.7027394!4d-103.4631409"><img src="/assets/Maps-icon.png"></a>          
            <h5>Dirección</h5>
            <p>Marcos Gordoa #51 <br> Ciudad Guzmán Jalisco.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="float-center">
              <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
            <p>
              De Lunes a Sábado<br>09:30-14:30-----16:30-20:30<br>Domingos<br>10:00-13:00
            </p>
          </div>          
        </div>
        <div class="col-4">
          <div class="float-center">
              <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
            <p>
              (341)412-09-50               
            </p>
            <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
            <p>
              surtidora_de_plasticos@hotmail.com
            </p>
          </div>          
        </div>
      </div>
      
      
      
      <!-- <p class="float-right"><a class="btn btn-outline-info" href="/">Back to top</a></p>
      <p>&copy; 2017 Karin, Inc. &middot;</p> -->
    </footer>

</div>
